<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="header-title">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-body">
  <h1 class="content-body__title">Últimos artículos</h1>
  <ion-card class="body-card">
    <ion-card-header>
      <ion-img src="/assets/img/energia-nuclear.jpg"></ion-img>
      <ion-card-subtitle class="content-body__subtitle">Energía Nuclear</ion-card-subtitle>
      <ion-card-title class="body-card__title">¿Es la energía del futuro?</ion-card-title>
    </ion-card-header>
    <ion-card-content class="body-card__content">
      Actualmente hay 94 reactores nucleares en funcionamiento en Estados Unidos, más que en cualquier otro país del mundo. En 2019 cubrieron el 20% de las necesidades energéticas del país. Pero, ¿Es la energía del futuro?
      <ion-button class="body-card__button" (click)="goNuclear()" expand="block" fill="outline" shape="round" color="medium">
        Ver más
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="body-card">
    <ion-card-header>
      <ion-img src="/assets/img/energia-petroleo.jpg"></ion-img>
      <ion-card-subtitle class="content-body__subtitle">Petroleo</ion-card-subtitle>
      <ion-card-title class="body-card__title">¿Por que es tan dañino para el planeta?</ion-card-title>
    </ion-card-header>
    <ion-card-content class="body-card__content">
      Cada crudo tiene compuestos químicos diferentes, pero la mayoría puede tener hidrocarburos aromáticos policíclicos que son muy tóxicos o incluso benceno, que es cancerígeno. En el caso del crudo ligero, gran parte termina evaporándose en la atmósfera. ¿Quieres saber más?
      <ion-button class="body-card__button" (click)="goPetroleo()" expand="block" fill="outline" shape="round" color="medium">
        Ver más
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="body-card">
    <ion-card-header>
      <ion-img src="/assets/img/energia-eolica.jpg"></ion-img>
      <ion-card-subtitle class="content-body__subtitle">Energía Eólica</ion-card-subtitle>
      <ion-card-title class="body-card__title">¿Es viable la energía eólica?</ion-card-title>
    </ion-card-header>
    <ion-card-content class="body-card__content">
      La energía eólica es un recurso renovable y limpio. Actualmente la energía eólica representa una opción viable para el planeta, pero hay elementos a evaluar antes de poder invertir en ella. ¿Quieres saber más?
      <ion-button class="body-card__button" (click)="goEolica()" expand="block" fill="outline" shape="round" color="medium">
        Ver más
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="body-card">
    <ion-card-header>
      <ion-img src="/assets/img/calentamiento-global.jpg"></ion-img>
      <ion-card-subtitle class="content-body__subtitle">Calentamiento global</ion-card-subtitle>
      <ion-card-title class="body-card__title">¿Es revertible?</ion-card-title>
    </ion-card-header>
    <ion-card-content class="body-card__content">
      El cambio climático puede haber alcanzado un "punto de no retorno". El calentamiento de la atmósfera ha contribuido ya a liberar grandes cantidades de carbono y metano almacenados en los suelos que están "retroalimentando" el efecto invernadero. ¿Quieres saber más?
      <ion-button class="body-card__button" (click)="goCalentamiento()" expand="block" fill="outline" shape="round" color="medium">
        Ver más
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="body-card">
    <ion-card-header>
      <ion-img src="/assets/img/hidroelectrica.jpg"></ion-img>
      <ion-card-subtitle class="content-body__subtitle">Energía Hidroeléctrica</ion-card-subtitle>
      <ion-card-title class="body-card__title">Pro y contra de una energía renovable dañina</ion-card-title>
    </ion-card-header>
    <ion-card-content class="body-card__content">
      La generación hidroeléctrica a través de centrales de embalse o centrales de pasada pueden generar impactos ambientales y sociales. Algunos impactos son: Alteración de los ecosistemas acuáticos y biodiversidad, e impactos en la pesca, Cambios en el régimen del río, alteración de ciclos naturales de crecidas, entre otros. ¿Quieres saber más?
      <ion-button class="body-card__button" (click)="goHidro()" expand="block" fill="outline" shape="round" color="medium">
        Ver más
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="body-card">
    <ion-card-header>
      <ion-img src="/assets/img/biodiesel.jpg"></ion-img>
      <ion-card-subtitle class="content-body__subtitle">BioDiesel</ion-card-subtitle>
      <ion-card-title class="body-card__title">¿Es una buena opción?</ion-card-title>
    </ion-card-header>
    <ion-card-content class="body-card__content">
      El biodiesel ha alcanzado gran interés como fuente alternativa de energía, ya que presenta muchas características atractivas: no tóxico, biodegradable, no inflamable, técnicamente viable y competitivo económicamente. Pero, ¿Es una buena opción?
      <ion-button class="body-card__button" (click)="goBiodiesel()" expand="block" fill="outline" shape="round" color="medium">
        Ver más
      </ion-button>
    </ion-card-content>
  </ion-card>
  
</ion-content>
