<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/ener-renov"
        text=""
        color="primary"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Geotérmica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-body">
  
  <ion-text class="ion-text-center" color="light">
    <h1 class="body-title">Que es la Energía Geotérmica, ventajas y desventajas</h1>
  <br>
  </ion-text>
  <img class="body-text__img" src="assets/img/geotermica.jpg" alt="Energía Geotérmica">
  <ion-text class="ion-text-center" color="light">
    <p class="body-p ion-padding">
      La energía geotérmica (del griego geo, Tierra, y thermos, calor; es decir, “calor de la Tierra”) se trata de un tipo de energía renovable que, como deducimos de su nombre, utiliza como fuente el calor interno de la Tierra almacenado bajo la superficie. El núcleo terrestre está formado por una esfera sólida incandescente y está compuesto fundamentalmente por una aleación de hierro y níquel que irradia calor hacia el exterior. Así, las capas más profundas tienen unas temperaturas más elevadas y en ellas puede producirse el calentamiento de masas de agua que, al ascender en estado líquido o vapor, se manifiestan en forma de géiser o fuentes termales.
      <br>
      Existen 4 tipos de energía Geotérmica:
    </p>
    <ol class="body-text__ol">
      <li>Energía geotérmica de alta temperatura, entre los 150 y 400º. Sobre la superficie terrestre se convierte en vapor y a través de una turbina genera electricidad.</li>
      <br>
      <li>Energía geotérmica de temperatura media, entre 70 y 150º, explotada por pequeñas centrales eléctricas.</li>
      <br>
      <li>Energía geotérmica de baja temperatura, entre 50 y 70º, utilizada principalmente para necesidades domésticas como la calefacción y, de manera más puntual, en invernaderos o la agricultura.</li>
      <br>
      <li>Energía geotérmica de muy baja temperatura, entre los 20 y 50º. Al no ser suficiente para la climatización deben utilizarse bombas de calor geotérmicas tanto para calefactar como para refrigerar.</li>
    </ol>
  </ion-text>

  <ion-text class="ion-text-center ion-padding" color="light">
    <details class="style2">
      <summary class="body-title">Ventajas <ion-icon class="body-title__iconplus" name="add-circle-outline"></ion-icon></summary>
      <div class="content">
        <ion-text class="ion-text-center ion-padding" color="light">
          <ol class="body-text__ol">
            <li>Es un recurso renovable, siempre que su tasa de extracción sea inferior a la tasa natural de recarga.</li>
            <br>
            <li>Se considera una energía “limpia”, pues reduce el consumo de combustibles fósiles y otros recursos no renovables.</li>
            <br>
            <li>Apenas produce residuos, lo que reduce en gran medida el impacto ambiental.</li>
            <br>
            <li>La emisión de CO2 de efecto invernadero es mucho menor a la que se produce por combustión para obtener la misma energía, por lo que apenas contribuye al calentamiento global.</li>
            <br>
            <li>Supone un ahorro puesto que sus costes para la producción de electricidad son bajos.</li>
            <br>
            <li>Proporciona una gran cantidad de recursos; se cree que hoy en día puede proporcionar más energía que todos los combustibles fósiles (petróleo, gas natural, carbón y uranio) juntos.</li>
            
          </ol>
      </ion-text>
      </div>
    </details>
  </ion-text>

  <ion-text class="ion-text-center ion-padding" color="light">
    <details class="style2">
      <summary class="body-title">Desventajas <ion-icon class="body-title__iconminus" name="remove-circle-outline"></ion-icon></summary>
      <div class="content">
        <ion-text class="ion-text-center ion-padding" color="light">
          <ol class="body-text__ol">
            <li>Bajo desarrollo al tratarse de una energía que está comenzando a utilizarse. En España apenas es aprovechada y los métodos de extracción pueden considerarse actualmente un tanto ordinarios.</li>
            <br>
            <li>Pueden producirse fugas en las que se expulsa ácido sulfhídrico (en elevadas dosis es letal para el hombre), arsénico, amoniaco u otras sustancias que pueden producir contaminación del terreno y aguas cercanas.</li>
            <br>
            <li>Esta energía no es transportable y debe utilizarse in situ, es decir, en el mismo lugar que se produce (abastecimiento local).</li>
            <br>
            <li>Producen impacto en el paisaje, puesto que la construcción de las instalaciones para extraer el calor de las rocas subterráneas y el magma se deben realizar modificaciones en el terreno.</li>
            <br>
            <li>Contaminación acústica. En fases iniciales en las que es necesaria la perforación de pozos se llegan a alcanzar hasta 115 decibelios (casi el ruido que genera el motor de un avión), aunque una vez realizado, su funcionamiento habitual no produce apenas ruidos exteriores (se encuentra entre los 75 y los 80 decibelios, el ruido de una aspiradora).</li>
          </ol>
      </ion-text>
      </div>
    </details>
  </ion-text>
</ion-content>

