.content-body {
    --ion-background-color: #1b7895;
}

.body-list__item {
    cursor: pointer;
}

.title-header__config {
    text-align: center;
}

.footer-config {
    --ion-background-color: #1b7895;
}

.title-footer__config:hover {
    text-decoration: underline;
    cursor: pointer;
}