<ion-header class="header-config">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        text=""
        color="primary"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="title-header__config">Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-body ion-padding">
<ion-list class="body-list">
  <ion-item button (click)="goPerfil()" class="body-list__item">
    <ion-label color="light">Mi Cuenta</ion-label>
  </ion-item>
  <ion-item button (click)="onClick()" class="body-list__item">
    <ion-label color="light">Mis Donaciones</ion-label>
  </ion-item>
  <ion-item button (click)="onClick()" class="body-list__item">
    <ion-label color="light">Mis Publicaciones</ion-label>
  </ion-item>
  <ion-item button (click)="onClick()" class="body-list__item">
    <ion-label color="light">Privacidad</ion-label>
  </ion-item>
  <ion-item>
    <ion-label color="light">Notificaciones</ion-label>
    <ion-toggle slot="end"></ion-toggle>
  </ion-item>
  <ion-item button (click)="onClick()">
    <ion-label class="body-list__item" color="light">Preferencias</ion-label>
  </ion-item>
  <ion-item button (click)="onClick()">
    <ion-label class="body-list__item" color="light">Uso de datos</ion-label>
  </ion-item>
</ion-list>

<ion-button class="title-footer__config" href="#" target="_blank" expand="block" shape="round" color="light">Acerca de NotPlanet</ion-button>

</ion-content>
