<ion-header class="header-config">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        text=""
        color="primary"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="header-title__config">Party Days</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-body">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12" *ngFor="let holiday of holidays">
        <ion-card>
          <ion-card-header class="header-box">
            <ion-card-subtitle>
              <ion-card-subtitle class="holiday-name"> {{ holiday.name }}</ion-card-subtitle>
            </ion-card-subtitle>
            <ion-card-title class="holiday-description">{{ holiday.description }}</ion-card-title>
          <ion-card-subtitle class="holiday-date">{{ holiday.date.iso | date: 'short' }}</ion-card-subtitle>
        </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


bf0be815089ce3409431299a363841c1

24fd5262c724d87d22a07ec321c5ce465d0c035d