<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/ener-renov"
        text=""
        color="primary"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Solar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-body">
  
  <ion-text class="ion-text-center" color="light">
    <h1 class="body-title">Que es la Energía Solar, tipos y ejemplos</h1>
  <br>
  </ion-text>
  <img class="body-text__img" src="assets/img/solar.jpg" alt="Energía Solar">
  <ion-text class="ion-text-center" color="light">
    <p class="body-p ion-padding">
      La energía solar es un tipo de energía renovable que, como bien indica su nombre, proviene de la energía del Sol, la estrella más grande, y es convertida en energía eléctrica o térmica. Es una fuente de energía limpia y abundante con múltiples aplicaciones, como son la generación de electricidad y, así, suministro lumínico y de agua caliente, entre otras.
      Existen 3 formas de explotar la energía solar:
    </p>
    <ol class="body-text__ol">
      <li><strong>Energía fotovoltaica: </strong>Se emplean paneles fotovoltaicos que captan la luz del Sol, la cual libera los electrones contenidos en los materiales semiconductores de los paneles, generando así energía eléctrica. La energía producida será directamente proporcional a la cantidad de rayos solares captados por los paneles. Sus usos son múltiples y diversos, como el suministro de energía a dispositivos eléctricos y hogares.</li>
      <br>
      <li><strong>Energía térmica de concentración: </strong>Utilizan espejos o lentes de diversos tipos que concentran la luz del Sol y aprovechan su calor (energía térmica solar) para generar vapor de agua, el cual mueve turbinas con cuyo funcionamiento se genera energía eléctrica. Las plantas de concentración solar son capaces también de almacenar el calor durante el día y liberarlo por la noche para el suministro eléctrico en horario nocturno.</li>
      <br>
      <li><strong>Calefacción y enfriamiento solar: </strong>Se recolecta la energía calorífica solar mediante paneles solares térmicos y se emplea en el calentamiento de agua y espacios o en el enfriamiento de zonas en edificios, etcétera.</li>
    </ol>
    </ion-text>


    <ion-text class="ion-text-center ion-padding" color="light">
      <details class="style2">
        <summary class="body-title">Ventajas <ion-icon class="body-title__iconplus" name="add-circle-outline"></ion-icon></summary>
        <div class="content">
          <ion-text class="ion-text-center ion-padding" color="light">
            <ol class="body-text__ol">
              <li>Es una forma de energía limpia cuyo uso reduce la huella de carbono de manera significativa pues, a diferencia de los combustibles fósiles, no genera gases de efecto invernadero ni tiene una contaminación asociada a su uso más allá de la acaecida durante el proceso de producción de los paneles solares.</li>
              <br>
              <li>Es una fuente de energía renovable, virtualmente inagotable y sostenible.</li>
              <br>
              <li>Es versátil en su utilidad pues, además de generar electricidad, la energía solar también sirve para calentar, a diferencia de otras fuentes de energía renovable, como los aerogeneradores.</li>
              <br>
              <li>La energía solar es gratuita, pues no requiere una extracción constante de materiales crudos que hayan de ser refinados y transportados a una planta. La esperanza de vida útil de los paneles solares puede alcanzar los 40 años y suelen contar con garantías de 25 o 30 años. Además, su bajo coste de mantenimiento garantiza la amortización de la inversión inicial durante su vida útil.</li>
              <br>
              <li>El uso de la energía solar no genera contaminación acústica, ya que los paneles solares apenas emiten algún sonido durante su funcionamiento.</li>
            </ol>
        </ion-text>
        </div>
      </details>
    </ion-text>
  
    <ion-text class="ion-text-center ion-padding" color="light">
      <details class="style2">
        <summary class="body-title">Desventajas <ion-icon class="body-title__iconminus" name="remove-circle-outline"></ion-icon></summary>
        <div class="content">
          <ion-text class="ion-text-center ion-padding" color="light">
            <ol class="body-text__ol">
              <li>La eficiencia de los paneles solares, esto es la cantidad de energía solar que pueden convertir en energía eléctrica, es relativamente baja, rondando el 22%. Sin embargo, con el desarrollo tecnológico, se está observando una tendencia creciente en dicha eficiencia que, se espera se mantenga en el tiempo.</li>
              <br>
              <li>l uso de energía solar implica un coste inicial elevado derivado de la instalación de paneles solares, que puede no ser accesible a toda la población.</li>
              <br>
              <li>Debido a la relativamente baja eficiencia energética de los paneles fotovoltaicos, por el momento, se requiere un área de instalación grande para producir una cantidad de energía eléctrica adecuada que cubra las necesidades energéticas. Este inconveniente se puede aliviar mediante la instalación de los paneles solares en los tejados.</li>
              <br>
              <li>La energía solar no es constante, sino que fluctúa a lo largo del día, como durante la noche, cuando no está disponible. Para paliar este inconveniente, se ha de recurrir al almacenamiento de la energía durante esos momentos. Además de las fluctuaciones diarias, la producción de energía solar disminuye durante los meses de invierno, cuando hay menos horas de luz solar y la radiación solar es menos intensa, en comparación con el verano.</li>
              <br>
              <li>La tecnología actual de almacenamiento de energía solar eléctrica no está perfeccionada, puesto que las baterías existentes son costosas y voluminosas, y, además, pueden no proporcionar la energía requerida para cubrir las necesidades energéticas, lo que conlleva a escasez eléctrica durante, por ejemplo, el horario nocturno.</li>
            </ol>
        </ion-text>
        </div>
      </details>
    </ion-text>
</ion-content>
