<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        text=""
        color="primary"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Preguntas Frecuentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-body">
  <ion-text>
    <details class="style2">
      <summary>Que es el Calentamiento Global?</summary>
      <div class="content">
        <p>
          El calentamiento global hace referencia al aumento de la temperatura media de los océanos y de la atmósfera terrestre, lo cual ha sido alarmante a nivel mundial en las últimas décadas.
        </p>
        <img class="style2_img" src="assets/img/preg-frec-calentamiento.jpg" alt="Calentamiento Global">
        <p>
          Suele confundirse con el cambio climático debido a que son términos que se podría decir que van de la mano debido a que sus causas y consecuencias coinciden en su mayoría pero es muy importante diferenciarlos.
        </p>
        <button class="style2_btn"><a href="https://www.ecologiaverde.com/calentamiento-global-definicion-causas-y-consecuencias-1095.html#anchor_0" target="_blank">Ver Fuente</a></button>
      </div>
    </details>
    <br>
    <details class="style2">
      <summary>Que es el Efecto Invernadero?</summary>
      <div class="content">
        <p>
          El efecto invernadero es una característica natural de la atmósfera de nuestro planeta y que, por tanto, forma parte del funcionamiento natural que permite que haya vida. 
        </p>
        <img class="style2_img" src="assets/img/preg-frec-efecto-invernadero.png" alt="Efecto Invernadero">
        <p>
          Sin embargo, cuando este efecto se potencia y es más elevado de lo que se produciría naturalmente, deja de haber efecto invernadero natural y pasa a ser negativo, provocado principalmente por el incremento de la actividad humana. Entre las causas del efecto invernadero negativo destaca el aumento de la emisión de gases de efecto invernadero que provienen de nuestros sistemas energéticos. Básicamente, el uso incrementado de combustibles fósiles y sus derivados, de gas y de carbón, provoca la emisión de estos gases que aumentan este problema.
        </p>
        <button class="style2_btn"><a href="https://www.ecologiaverde.com/efecto-invernadero-causas-consecuencias-y-soluciones-1031.html" target="_blank">Ver Fuente</a></button>
      </div>
    </details>
    <br>
    <details class="style2">
      <summary>Que es el Cambio Climático?</summary>
      <div class="content">
        <p>
          Se trata de uno de los tantos aspectos que abarca el Calentamiento Global, y hace referencia al aumento de la temperatura atmosférica terrestre. Actualmente hace alusión al cambio de temperatura producida desde aproximadamente el siglo XX, sobre todo en las últimas décadas, donde el calentamiento global a nivel mundial ha sido alarmante.
        </p>
        <img class="style2_img" src="assets/img/preg-frec-cambio-climatico.jpg" alt="Cambio Climático">
        <p>
          De por sí, la variabilidad del clima es algo normal que se ha dado a lo largo de la historia del planeta, siendo las más destacables las variaciones producidas en los ciclos glaciares e interglaciares a lo largo de 100.000 años aproximadamente.
        </p>
        <button class="style2_btn"><a href="https://www.ecologiaverde.com/causas-y-consecuencias-del-cambio-climatico-1107.html" target="_blank">Ver Fuente</a></button>
      </div>
    </details>
    <br>
    <details class="style2">
      <summary>Es renovable la Energía Nuclear?</summary>
      <div class="content">
        <p>
          La energía nuclear NO es una energía renovable porque, principalmente, se obtiene gracias a la fisión de isótopos de uranio, exactamente del U-235 al ser el único que puede provocar la reacción de fisión nuclear.
        </p>
        <img class="style2_img" src="assets/img/preg-frec-nuclear.jpg" alt="Energia Nuclear">
        <p>
          El uranio es un elemento químico que se encuentra en la naturaleza, es cierto que existen grandes reservas de uranio como por ejemplo la que se encuentra en el agua del mar, pero que no está siendo explotada al no ser económicamente rentables.
        </p>
        <button class="style2_btn"><a href="https://www.ecologiaverde.com/la-energia-nuclear-es-renovable-2718.html" target="_blank">Ver Fuente</a></button>
      </div>
    </details>
    <br>
    <details class="style2">
      <summary>Cuales son las fuentes de energía más utilizadas?</summary>
      <div class="content">
        <img class="style2_img" src="assets/img/preg-frec-fuentes.jpg" alt="Fuentes Energéticas">
          <ol>
            <li>Petróleo: 32,89 %</li>
            <li>Carbón: 29,16 %</li>
            <li>Gas natural: 23,40 %</li>
            <li>Hidroeléctrica: 6,78 %</li>
            <li>Energía nuclear: 4,43 %</li>
            <li>Eólica: 1,45 %</li>
            <li>Energía solar: 0,43 %</li>
            <li>Biocarburantes o biocombustibles: 0,57 %</li>
            <li>Resto de fuentes de energía: 0,89 %</li>
        </ol>
        <button class="style2_btn"><a href="https://www.ecologiaverde.com/cuales-son-las-fuentes-de-energia-mas-utilizadas-en-el-mundo-1426.html" target="_blank">Ver Fuente</a></button>
      </div>
    </details>
    <br>
    <details class="style2">
      <summary>Que es la Energía Hidráulica?</summary>
      <div class="content">
        <p>
          La energía hidráulica es una de las energías más antiguas y que gracias a la tecnología ha ido sufriendo grandes cambios y avances a lo largo de los años.
        </p>
        <img class="style2_img" src="assets/img/preg-frec-hidro.jpg" alt="Hidroeléctrica">
        <p>
          Esta energía se genera gracias al movimiento del agua que se produce en los ríos y embalses. El agua hace mover una turbina que genera la energía eléctrica y esta va directamente a la red eléctrica. Existen dos tipos de centrales hidroeléctricas:
        </p>
        <ol>
          <li>Centrales Hidroeléctricas de agua fluyente</li>
          <li>Centrales Hidroeléctricas a pie de presa</li>
      </ol>
      <button class="style2_btn"><a href="https://www.ecologiaverde.com/la-energia-hidraulica-es-renovable-2620.html" target="_blank">Ver Fuente</a></button>
      </div>
    </details>
    <br>
    <details class="style2">
      <summary>Que es la Energía Undimotriz?</summary>
      <div class="content">
        <p>
          a energía olamotriz o undimotriz proviene de las olas. Se produce aprovechando su movimiento, con lo que se trata de una energía sostenible con un gran potencial, pues hay olas en todos los mares y costas del planeta. De hecho, actualmente hay numerosos proyectos que están sacándole partido.
        </p>
        <img class="style2_img" src="assets/img/preg-frec-undimotriz.jpg" alt="Undimotriz">
        <p>
          En efecto, puesto que el oleaje es una consecuencia del rozamiento del aire sobre la superficie del mar, aunque este resulta muy irregular, su aprovechamiento para la obtención de energía bien merece la pena, qué duda cabe.
        </p>
        <button class="style2_btn"><a href="https://www.ecologiaverde.com/que-es-la-energia-undimotriz-372.html" target="_blank">Ver Fuente</a></button>
      </div>
    </details>
    <br>
    <details class="style2">
      <summary>Cuántas plantas nucleares hay en el mundo?</summary>
      <div class="content">
        <p>
          En el mundo existen unos 30 países que tienen plantas de energía nuclear. Siendo más de 400 reactores nucleares los que suministran aproximadamente el 11% de la electricidad consumida en el planeta.
        </p>
        <img class="style2_img" src="assets/img/preg-frec-plantas-nucleares.jpg" alt="Plantas Nucleares">
        <p>
          Es Estados Unidos quien encabeza la lista con 96 reactores nucleares y le sigue Francia con 58, además hay 48 reactores nucleares en China, ocupando esta el tercer puesto entre los países con mayores reactores nucleares en el mundo. Si seguimos la lista se encuentran 38 reactores nucleares en Rusia, 36 reactores nucleares en Japón, 24 reactores nucleares en Corea y 22 reactores nucleares en India.
        </p>
        <button class="style2_btn"><a href="https://www.ecologiaverde.com/cuantas-plantas-nucleares-hay-en-el-mundo-3356.html" target="_blank">Ver Fuente</a></button>
      </div>
    </details>
    <br>
    <details class="style2">
      <summary>Cómo se forma el Petróleo?</summary>
      <div class="content">
        <p>
          Durante millones de años se ha ido dando la descomposición de restos orgánicos de seres vivos (tanto de animales como de plantas) que fueron quedando depositados en el lecho marino y zonas lacustres. Estos restos orgánicos quedaron enterrados bajo muchos metros de capas de tierra y rocas. La presión que estas capas ejercen, fue provocando que el resultado de la descomposición en un medio sin oxígeno (anaerobio) fuese un compuesto líquido aceitoso, viscoso, de mayor densidad que el agua y de color oscuro: el petróleo. Además, durante este tipo de proceso también aparece el gas natural.
        </p>
        <img class="style2_img" src="assets/img/preg-frec-petroleo.jpg" alt="">
        <button class="style2_btn"><a href="https://www.ecologiaverde.com/como-se-forma-el-petroleo-2814.html" target="_blank">Ver Fuente</a></button>
      </div>
    </details>
  </ion-text>
</ion-content>
