.header-title__config {
    text-align: center;
}

.content-body {
    --ion-background-color: #1b7895;
    color: #fff;
}

.body-list__item {
    cursor: pointer;
}

.list-item__label {
    color: #fff;
}

.list-item__input {
    color: #fff;
}

.footer-config {
    --ion-background-color: #1b7895;
}

.title-footer__config {
    text-align: center;
}

.title-footer__config:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer-button__config {
    text-align: center;
}

.middle-title__donation {
    text-align: center;
    color: #fff;
}

.h3_donation {
    color: #fff;
    font-size: 20px;
}

.p_donation {
    color: #fff;
    font-size: 20px;
}