<ion-header class="header-renov">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        text=""
        color="primary"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title class="title-header__renov">Energías Renovables</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-body ion-padding">
  <ion-list class="body-list__item">
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="/assets/img/eolica.png">
    </ion-thumbnail>
    <ion-label color="light">Eólica</ion-label>
    <ion-icon color="light" slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="/assets/img/geotermica.png">
    </ion-thumbnail>
    <ion-label color="light">Geotérmica</ion-label>
    <ion-icon color="light" slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="/assets/img/hidroelectrica.png">
    </ion-thumbnail>
    <ion-label color="light">Hidroeléctrica</ion-label>
    <ion-icon color="light" slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="/assets/img/solar.png">
    </ion-thumbnail>
    <ion-label color="light">Solar</ion-label>
    <ion-icon color="light" slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="/assets/img/undimotriz.png">
    </ion-thumbnail>
    <ion-label color="light">Undimotriz</ion-label>
    <ion-icon color="light" slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="/assets/img/biodiesel.png">
    </ion-thumbnail>
    <ion-label color="light">BioDiesel</ion-label>
    <ion-icon color="light" slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start">
      <img src="/assets/img/osmotica.png">
    </ion-thumbnail>
    <ion-label color="light">Osmótica</ion-label>
    <ion-icon color="light" slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>
</ion-list>
</ion-content>
