<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/ener-renov"
        text=""
        color="primary"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Úndimotriz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-body">
  
  <ion-text class="ion-text-center" color="light">
    <h1 class="content-title">Que es la Energía Úndimotriz, ventajas y desventajas</h1>
  <br>
  </ion-text>
  <img class="content-img" src="assets/img/undimotriz.jpg" alt="Energía Úndimotriz">
  <ion-text class="ion-text-center" color="light">
    <p class="content-p ion-padding">
      La energía mareomotriz (O también llamada Úndimotriz), energía marina o energía oceánica es aquella que se obtiene aprovechando el movimiento de las mareas. Esta energía es aprovechada por unas turbinas que acaban moviendo el conjunto mecánico de un alternador para producir energía eléctrica.
    </p>
    </ion-text>

  <ion-text class="ion-text-center" color="light">
    <h1 class="content-title">Ventajas <ion-icon class="content-title__iconplus" name="add-circle-outline"></ion-icon></h1> 
  </ion-text>
  <ion-text class="ion-text-center ion-padding" color="light">
      <ol class="content-ol">
        <li>Estamos ante un tipo de energía renovable, ya que las mareas son el resultado de la fuerza de atracción gravitatoria de la luna y el sol sobre la Tierra. Por tanto, es una energía ilimitada, que además se puede obtener en cualquier época del año.</li>
        <li>Es una energía limpia, su aprovechamiento no emite gases de efecto invernadero a la atmósfera.</li>
        <li>Sus instalaciones son silenciosas, gracias a esto no se produce contaminación acústica.</li>
        <li>e puede decir que es una energía predecible, gracias a los avances científicos se saber cuando se van a producir las mareas de alta mar y las de baja mar, haciendo posible conocer la potencia que se va a generar. Gracias a esto se puede enfocar el diseño de los sistemas para que estos sean adecuados con respecto al potencial que se espera.</li>
        <li>También es una energía eficiente gracias a la densidad del agua, por lo tanto, se puede obtener energía haciendo funcionar a las turbinas a baja velocidad.</li>
        <li>Una vez construidas las instalaciones estas son fáciles de mantener y la generación de la energía es económicamente asequible.</li>
      </ol>
  </ion-text>
  
  <ion-text class="ion-text-center" color="light">
    <h1 class="content-title">Desventajas <ion-icon class="content-title__iconminus" name="remove-circle-outline"></ion-icon></h1>
  </ion-text>
  <ion-text class="ion-text-center ion-padding" color="light">
    <ol class="content-ol">
      <li>Pueden suponer un gran riesgo para las especies vegetales y animales que habitan ese territorio.</li>
      <li>Afecta a la salinidad y calidad del agua.</li>
      <li>Alteración de hábitats marinos, ya que las grandes dimensiones de las infraestructuras modifican la zona donde son construidas.</li>
      <li>La energía que se genera es más cara ya que al ser un tipo nuevo de energía no puede competir con las que llevan establecidas desde hace más tiempo, como pueden ser la obtenida por combustibles fósiles o por centrales nucleares.</li>
      <li>El diseño y construcción de sus infraestructuras suponen un alto coste.</li>
    </ol>
  </ion-text>

</ion-content>
