.content-body {
    --ion-background-color: #1b7895;
    color: aliceblue;
    font-weight: bold;
}

.body-list__item {
    cursor: pointer;
    font-weight: bold;
}

.title-header__renov {
    text-align: center;

}