<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/ener-no-renov"
        text=""
        color="primary"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Petróleo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-body">
  
  <ion-text class="ion-text-center" color="light">
    <h1 class="content-title">Que es el Petróleo, ventajas y desventajas</h1>
  <br>
  </ion-text>
  <img class="content-img" src="assets/img/petroleo.jpg" alt="Petróleo">
  <ion-text class="ion-text-center" color="light">
    <p class="content-p ion-padding">
      El petróleo es un aceite mineral de color muy oscuro o negro, menos denso que el agua y de un olor acre característico. Está formado por una mezcla de hidrocarburos acompañados de azufre, oxígeno y nitrógeno en cantidades variables. El petróleo se encuentra sólo en las rocas sedimentarias.
    </p>
    </ion-text>

  <ion-text class="ion-text-center" color="light">
    <h1 class="content-title">Ventajas <ion-icon class="content-title__iconplus" name="add-circle-outline"></ion-icon></h1> 
  </ion-text>
  <ion-text class="ion-text-center ion-padding" color="light">
      <ol class="content-ol">
        <li>A través de los avances tecnológicos se han optimizado los procesos de extracción del petróleo, haciendo más fácil el acceso a los yacimientos.</li>
        <li>Por estar en estado líquido, es más fácil de transportarse y almacenarse. Por lo general puede movilizarse de los centros de extracción hacia las refinerías a través de tuberías como lo son oleoductos y por otras vías como buques o cisternas.</li>
        <li>El petróleo y sus derivados no solo son utilizados para la generación de electricidad, sino también es el principal combustible para movilizar maquinarias y vehículos. Además, es usado en la producción de productos petroquímicos y materiales sintéticos.</li>
        <li>A diferencia de algunas fuentes energéticas el petróleo provee de una constante producción de energía, sin estar condicionada a factores externos.</li>
        
      </ol>
  </ion-text>
  
  <ion-text class="ion-text-center" color="light">
    <h1 class="content-title">Desventajas <ion-icon class="content-title__iconminus" name="remove-circle-outline"></ion-icon></h1>
  </ion-text>
  <ion-text class="ion-text-center ion-padding" color="light">
    <ol class="content-ol">
      <li>El petróleo tiene un alto grado de toxicidad para la salud humana, además genera grandes problemas ambientales como la contaminación del agua y de los suelos.</li>
      <li>El petróleo no es renovable, es un recurso limitado. Se estima que a este ritmo durará más de 60 años, por lo que es necesario una nueva estrategia productiva para no agotarlo.</li>
      <li>Poco a poco, el mundo entero se ha vuelto dependiente del petróleo, por sus múltiples aplicaciones en todos los campos de la vida.</li>
      <li>Las etapas de producción petrolera provocan la emisión de gases de efecto invernadero, al igual que sus derivados que también son altamente generadores de contaminación.</li>
      <li>El petróleo es totalmente insoluble en el agua, por lo que es muy difícil de limpiar. Si el petróleo en su forma líquida llega a la naturaleza se adhiere rápidamente a la superficie y su remoción es muy difícil.</li>
      
    </ol>
  </ion-text>

</ion-content>
