.content-body {
    --ion-background-color: #1b7895;
}

.body-text__img {
    margin: auto;
    display: block;
    width: 30%;
    height: 30%;
}

.body-h1 {
    font-size: 20px;
}

.body-h1__2 {
    font-size: 25px;
    font-weight: bold;
}

.body-label__input {
    color: #fefafa;
    font-size: 15px;
    border: 2px solid #fefafa;
    border-radius: 40px;
    display: flex;
}