<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/ener-renov"
        text=""
        color="primary"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Osmótica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-body">
  
  <ion-text class="ion-text-center" color="light">
    <h1 class="content-title">Que es la Energía Osmótica, ventajas y desventajas</h1>
  <br>
  </ion-text>
  <img class="content-img" src="assets/img/osmotica.jpg" alt="Energía Osmótica">
  <ion-text class="ion-text-center" color="light">
    <p class="content-p ion-padding">
      La energía azul o energía osmótica se produce cuando se pone en contacto el agua de mar, que tiene mayor concentración de sales con el agua dulce que contiene una concentración de sales menor. Es por eso que la energía azul podría ser una fuente de energía inagotable, además de no impactar de forma negativa en el medio ambiente.
      <br>
      <br>
      <strong>Cómo se produce la energía azul u osmótica? </strong>
      <br>
      Para poder entender cómo se produce esta energía llamada azul u osmótica es necesario conocer el concepto de ósmosis. La ósmosis es un proceso físico, en el que dos líquidos con diferente concentración de sal se separan por una membrana semipermeable, y a través de esta fluye el líquido con menos concentración de sal hacia el más concentrado.
      Por lo tanto, para obtener la energía azul se debe separar el agua de mar y el agua dulce por la membrana semipermeable, que solo deja pasar el agua y no las sales. El agua fluye de forma natural desde la menos concentrada a la más concentrada disminuyendo la concentración salina y ejerciendo una presión llamada presión osmótica. Esta presión es la que hace que empiece a moverse una turbina para, así, producir la energía.
    </p>
    </ion-text>

  <ion-text class="ion-text-center" color="light">
    <h1 class="content-title">Ventajas <ion-icon class="content-title__iconplus" name="add-circle-outline"></ion-icon></h1> 
  </ion-text>
  <ion-text class="ion-text-center ion-padding" color="light">
      <ol class="content-ol">
        <li>La energía azul, como la eólica y la solar, es renovable y no se agotará nunca.</li>
        <li>También es una energía constante, es decir, aprovechable las 24 horas, podemos obtenerla siempre independientemente de las condiciones climáticas. Por ejemplo, para obtener energía solar o eólica, dependemos de si hace viento o el día es soleado, para la energía azul no debemos tener en cuenta el clima.</li>
        <li>Con este tipo de energía se podría abastecer a todo el planeta, ya que se da en todo el mundo, lo único que se necesita es que el agua de río se ponga en contacto con el agua de mar.</li>
        <li>Las emisiones de CO2 son un auténtico problema para el cambio climático. Las plantas para obtener este tipo de energía no tienen emisiones de CO2. Su impacto ecológico es muy bajo gracias a como están diseñadas.</li>
        
      </ol>
  </ion-text>
  
  <ion-text class="ion-text-center" color="light">
    <h1 class="content-title">Desventajas <ion-icon class="content-title__iconminus" name="remove-circle-outline"></ion-icon></h1>
  </ion-text>
  <ion-text class="ion-text-center ion-padding" color="light">
    <ol class="content-ol">
      <li>Antes hemos mencionado que la energía azul está a medio camino, a pesar de todas las ventajas que tiene, las desventajas tienen un peso mayor, de momento, y esto se debe sobre todo por los altos costes que supone generarla.</li>
      <li>Construir una central de salinidad ya conlleva una inversión económica, pero el verdadero problema de esta es que para ponerla en funcionamiento el precio del megavatio es el doble del que se obtienen con los combustibles fósiles.</li>
      <li>Las membranas semipermeables son realmente costosas pero, además, para que se dé la presión necesaria para poder mover la turbina que luego producirá la electricidad, estas deben ser membranas semipermeables de gran tamaño.</li>
      
    </ol>
  </ion-text>

</ion-content>
