<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/ener-renov"
        text=""
        color="primary"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Eólica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-body">
  
  <ion-text class="ion-text-center" color="light">
    <h1 class="content-title">Que es la Energía Eólica, ventajas y desventajas</h1>
  <br>
  </ion-text>
  <img class="content-img" src="assets/img/eolica.jpg" alt="Planta Eólica">
  <ion-text class="ion-text-center" color="light">
    <p class="content-p ion-padding">
      La energía eólica es aquella que se obtiene directamente de la fuerza del viento. Se trata de una de las energías más prometedoras dado su bajísimo impacto medioambiental. De media, un molino de viento evita al año la emisión de más de 6.300 toneladas de CO2 a la atmósfera, lo que supone una ayuda inestimable a la hora de luchar contra el efecto invernadero y el consecuente cambio climático.
      <br>
      La energía eólica es la que se da gracias al movimiento y la fuerza del viento. Actualmente, es una de las energías con más futuro, ya que tiene un impacto medioambiental muy bajo en comparación a otras energías.
      Se calcula que, en los próximos años, la energía eólica podría llegar a representar hasta el 20% de la producción energética en España, lo que es un claro ejemplo de cómo esta energía supone un nicho de confianza tanto para las empresas energéticas como para los organismos públicos. Sin embargo, a pesar de las múltiples ventajas que representa esta energía, también plantea una serie de desventajas que hace necesario que se tenga que seguir investigando hasta llegar a implementar una tecnología eólica que sea aún mejor y más eficiente. De hecho, a día de hoy, incluso podemos hacer molinos de viento caseros.
    </p>
  </ion-text>

  <ion-text class="ion-text-center" color="light">
    <h1 class="content-title">Ventajas <ion-icon class="content-title__iconplus" name="add-circle-outline"></ion-icon></h1> 
  </ion-text>
  <ion-text class="ion-text-center ion-padding" color="light">
      <ol class="content-ol">
        <li>Inagotable: una de las primeras ventajas de la energía eólica es que es una de las energías renovables porque el viento es un recurso inagotable. Esto significa que siempre se puede contar con la fuente original que produce la energía, lo que garantiza que su utilidad no tiene fecha de caducidad (como sí sucede con los combustibles fósiles).</li>
        <li>Limpia: se trata de una energía completamente limpia. De hecho, esta es quizás su principal ventaja cuando se la compara con otros tipos de energía. La energía eólica no produce ningún tipo de residuo, lo que significa que su uso no contribuye a la destrucción de los ecosistemas ni favorece el calentamiento global.</li>
        <li>Segura: otra de las ventajas de la energía eólica es que es una de las energías más seguras que existen. Al no producir residuos contaminantes ni suponer un peligro en caso de accidente, se trata de una energía completamente segura.</li>
        <li>Es energía autóctona: esto permite favorecer la independencia energética, ya que, aunque hay países que cuentan con mayor índice de vientos, se puede encontrar en todo el mundo. Esto permite que se cree un mercado energético autóctono y libera de la necesidad de importar la energía desde otras economías.</li>
        <li>Facilidad de montar y desmontar los parques eólicos: la tecnología necesaria a la hora de implementar un parque eólico permite que se lleven a cabo de forma sencilla y bastante efectiva. De hecho, si hoy en día se tarda más tiempo de lo deseado en construirlos, normalmente se debe a cuestiones burocráticas y relacionadas con la administración.</li>
        <li>Poco impacto en el suelo: los parques eólicos tienen un impacto muy pequeño en el suelo y en su erosión. Esto se debe tanto a la ausencia de residuos contaminantes como al hecho de que ocupan poco espacio en comparación con otro tipo de instalaciones energéticas.</li>
        <li>Energía respetuosa con los acuíferos: debido a la ausencia de cualquier tipo de residuo contaminante, no altera la composición del agua de la zona, lo que supone un elemento fundamental a la hora de proteger las reservas hídricas locales y los ecosistemas ligados a las mismas.</li>
        <li>Es una energía muy barata: de hecho, se sitúa en algunos casos al mismo precio que el carbón e incluso la energía nuclear.</li>
        <li>Es compatible con otras actividades: la energía eólica es totalmente compatible con otras actividades como la agricultura y la ganadería, lo que hace que no tenga un impacto negativo en la economía local al no requerir una especialización laboral de la zona. Esto permite que las zonas en las que se instala puedan seguir desarrollando su actividad tradicional al mismo tiempo que incrementan su actividad gracias a la energía eólica.</li>
      </ol>
  </ion-text>
  
  <ion-text class="ion-text-center" color="light">
    <h1 class="content-title">Desventajas <ion-icon class="content-title__iconminus" name="remove-circle-outline"></ion-icon></h1>
  </ion-text>
  <ion-text class="ion-text-center ion-padding" color="light">
    <ol class="content-ol">
      <li>Uno de los primeros inconvenientes de la energía eólica es que no siempre hay viento, por lo que necesita el respaldo de otro tipo de energías para esos momentos (ya sean contaminantes o limpias).</li>
      <li>Dificultad en la planificación debido a lo imprevisible del viento. Gracias a los modelos meteorológicos se ha mejorado bastante en este aspecto, aunque a día de hoy continúa siendo uno de los inconvenientes que plantea.</li>
      <li>Otra de las desventajas de la energía eólica es que se trata de una energía que no se puede almacenar, sino que debe ser consumida de manera inmediata cuando se produce. Eso hace que no pueda ofrecer una alternativa completa al uso de otros tipos de energía.</li>
      <li>Los aerogeneradores solo funcionan correctamente con ráfagas de viento entre los 10 y los 40 km/h. A velocidades menores la energía no resulta rentable y a mayores supone un riesgo físico para la estructura.</li>
      <li>La densidad energética del viento es baja, lo que exige que la cantidad de aerogeneradores sea elevada para que sea útil. En otras palabras, aunque sea una energía barata y fácil de obtener, se necesita una gran suma de aerogeneradores funcionando al mismo tiempo para que pueda ser rentable.</li>
    </ol>
  </ion-text>

</ion-content>
