.content-body {
    --ion-background-color: #1b7895;
    align-items: center;
}

.content-title {
    font-weight: bold;
    
}

.content-img {
    margin: auto;
    display: block;
}

.content-ol {
    margin: auto;
    display: block;
    padding-right: 10px;
}

.content-title__iconplus {
    color: #6ECB63;
}

.content-title__iconminus {
    color: #d11e1e;
}