<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/ener-no-renov"
        text=""
        color="primary"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Nuclear</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-body">
  
  <ion-text class="ion-text-center" color="light">
    <h1 class="body-title">Que es la Energía Nuclear, ventajas y desventajas</h1>
  <br>
  </ion-text>
  <img class="body-text__img" src="assets/img/nuclear.jpg" alt="Planta Nuclear">
  <ion-text class="ion-text-center" color="light">
    <p class="body-p ion-padding">
      Qué es la energía atómica o nuclear es lo primero que hay que conocer antes de comenzar a debatir sobre sus ventajas e inconvenientes. Este tipo de energía es el que se libera al darse una reacción nuclear, es decir que se da en el núcleo de un átomo, y puede suceder de forma espontánea o artificial. Se trata de una energía muy potente y, por ello, se utiliza para diversos aspectos de nuestra vida.
      ¿Para qué se usa la energía nuclear? La energía atómica se usa para producir energía eléctrica, mecánica y térmica, lo que nos permite tener electricidad y otras aplicaciones, como en la medicina y la agricultura.
    </p>
    </ion-text>

    <ion-text class="ion-text-center ion-padding" color="light">
      <details class="style2">
        <summary class="body-title">Ventajas <ion-icon class="body-title__iconplus" name="add-circle-outline"></ion-icon></summary>
        <div class="content">
          <ion-text class="ion-text-center ion-padding" color="light">
            <ol class="body-text__ol">
              <li>Lo primero que nos viene a la mente pensando en la parte positiva de este tema es que se obtiene una gran cantidad de energía eléctrica, por lo que más personas pueden acceder a ella, algo muy importante hoy en día y, sobre todo, en lugares donde el clima es muy frío.</li>
              <br>
              <li>Además, una central nuclear está generando electricidad casi todo el año, aproximadamente un 90% de este. Esto hace que los precios no sean tan cambiantes, algo que sí sucede en el caso de los combustibles fósiles, ya que dependen de la disponibilidad y están mucho más cerca de agotarse.</li>
              <br>
              <li>Durante la obtención de la energía atómica, desde las centrales nucleares, no se producen gases de efecto invernadero, como el CO2 o el N2O. El humo blanquecino que sale de las chimeneas de las centrales nucleares no es humo con gases, sino que en realidad se trata de vapor de agua, ya que se usa agua durante el proceso de fisión de los núcleos y esta se evapora. Por tanto, las chimeneas no contaminan el aire.</li>
              <br>
              <li>La producción de este tipo de energía provoca un daño menor al medio ambiente, ya que se evita la emisión de gases de efecto invernadero así como el uso de combustibles fósiles. Evidentemente, los daños no son nulos, pero en este sentido se consideran menores. Esto, obviamente, siempre y cuando no se produzca un accidente nuclear.</li>
              
            </ol>
        </ion-text>
        </div>
      </details>
    </ion-text>
  
    <ion-text class="ion-text-center ion-padding" color="light">
      <details class="style2">
        <summary class="body-title">Desventajas <ion-icon class="body-title__iconminus" name="remove-circle-outline"></ion-icon></summary>
        <div class="content">
          <ion-text class="ion-text-center ion-padding" color="light">
            <ol class="body-text__ol">
              <li>Aunque es un argumento muy comentado como ventaja, la realidad es que la gran cantidad de combustible fósiles y de producción de gases de efecto invernadero se usa para los transportes, no de la producción de electricidad. Por tanto, no se ahorra tanto en este sentido y los materiales necesarios para la energía atómica, mayormente, se transportan hasta las plantas usando combustibles fósiles.</li>
              <br>
              <li>Como hemos comentado antes, parte de los residuos del resultado de la fisión nuclear producen radiación, mucha más que el propio uranio. Es el caso del plutonio, que se almacena en piscinas dentro de las plantas nucleares o en contenedores, en principio altamente seguros, para ser enterrados a gran profundidad en distintas zonas del planeta para evitar que contaminen el entorno. A estos lugares se les conoce como cementerios nucleares.</li>
              <br>
              <li>Los accidentes nucleares son raros, pero son muy peligrosos. Aunque las centrales cuentan con sistemas de seguridad muy sofisticados, se han dado accidentes que han resultado devastadores, es el caso de Chernóbil y Fukushima. En ambos casos, el problema se dio cuando apareció un imprevisto durante la fisión y las personas al cargo tomaron decisiones equivocadas o no llegaron a tiempo. Por tanto, por más sistemas de seguridad que haya siempre existe el factor humano, por lo que pueden cometerse errores.</li>
              <br>
              <li>Otra desventaja alarmante es el uso que se le da a la energía nuclear en el área militar. La industria militar hizo uso de la energía atómica construyendo dos bombas atómicas o nucleares, las cuales se lanzaron por parte de Estados Unidos de América sobre Japón, en Hiroshima y Nagasaki, durante la Segunda Guerra Mundial.</li>
              
            </ol>
        </ion-text>
        </div>
      </details>
    </ion-text>
</ion-content>