.content-body {
    --ion-background-color: #1b7895;
    align-items: center;
}

.content-img {
    margin: auto;
    display: block;
    width: 30%;
    height: 30%;
}

.content-img__pay {
    margin: auto;
    display: block;
    width: 70%;
    height: 20%;
}