<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        text=""
        color="primary"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Donaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-body">
  <ion-img class="ion-align-self-center content-img" src="assets/img/donacion.png"></ion-img>
  <ion-text class="ion-text-center" color="light">
    <h1>Donar con:</h1>
  </ion-text>

  <ion-img class="ion-align-self-center content-img__pay" src="assets/img/logo-webpay.png"></ion-img>
  <ion-img class="ion-align-self-center content-img__pay" src="assets/img/logo-paypal.png"></ion-img>
</ion-content>
