.content-body {
    --ion-background-color: #1b7895;
    align-items: center;
}

.body-title {
    font-weight: bold;
    margin-left: 10px;
    font-size: 20px;
}

.body-text__img {
    margin: auto;
    display: block;
}

.body-text__ol {
    margin: auto;
    display: block;
    padding-right: 10px;
}

.body-title__iconplus {
    color: #fff;
}

.body-title__iconminus {
    color: #fff;
}