<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/ener-renov"
        text=""
        color="primary"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Hidroeléctrica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-body">
  
  <ion-text class="ion-text-center" color="light">
    <h1 class="body-title">Que es la Energía Hidroeléctrica, tipos y ejemplos</h1>
  <br>
  </ion-text>
  <img class="body-text__img" src="assets/img/hidroelectrica2.jpg" alt="Hidroeléctrica">
  <ion-text class="ion-text-center" color="light">
    <p class="body-p ion-padding">
      La energía hidráulica forma parte de una de las energías más antiguas, que con el avance de la tecnología ha ido avanzando para ser cada vez más eficiente. Forma parte de las energías renovables y es la que mayor electricidad genera en el mundo. Aquí te explicamos mucho más sobre si realmente ¿La energía hidráulica es renovable o no?
      Para generar esta energía se usa el movimiento del agua que fluye por los ríos y otros cuerpos de agua. De forma general, este movimiento, que es lo que da lo que se conoce como energía cinética del agua, se produce con la caída del agua, es por eso que las zonas para ubicar las centrales tienen que presentar desnivel. El agua al caer hace mover una turbina que genera la energía eléctrica que será inyectada directamente a la red eléctrica.
  </ion-text>

  <ion-text class="ion-text-center ion-padding" color="light">
    <details class="style2">
      <summary class="body-title">Tipos <ion-icon class="body-title__iconplus" name="clipboard-outline"></ion-icon></summary>
      <div class="content">
        <ion-text class="ion-text-center ion-padding" color="light">
          <ol class="body-text__ol">
            <li><strong>Centrales de agua fluyente: </strong>
                Están situadas en terrenos que no tienen mucho desnivel, y no presentan embalse. El caudal del río debe ser estable para que se asegure la potencia que se requiere para todo el año. En época de abundantes precipitaciones se genera la potencia máxima y en épocas más seca, la potencia es menor, nula en algunas ocasiones por una sequía completa de algunos ríos.</li>
            <br>
            <li><strong>Centrales de embalse: </strong>
                Estas centrales cuentan con más de una presa para almacenar el agua. Son centrales que necesitan mayor inversión económica, pero tienen la ventaja de que, al poder acumular agua, en las épocas de sequía a pesar de que el río se seque totalmente, puede recurrir al agua almacenada y seguir generando energía.</li>
            <br>
            <li><strong>Centrales de bombeo o reversibles: </strong>
              En estas encontramos dos embalses que se ubican a diferentes niveles y racionaliza los recursos hídricos ya que, dependiendo de la hora del día, la demanda de energía de mayor o menor. Cuando la demanda es alta, el agua cae desde el embalse que se encuentra en el nivel superior provocando el giro de las turbinas, y esta agua se queda almacena en el embalse inferior. Sin embargo, cuando la demanda es menor hay un bombeo hacia el embalse superior para que se produzca de nuevo el ciclo de generación de energía.</li>
    
          </ol>
      </ion-text>
      </div>
    </details>
  </ion-text>

  <ion-text class="ion-text-center ion-padding" color="light">
    <details class="style2">
      <summary class="body-title">Ejemplos <ion-icon class="body-title__iconminus" name="color-filter-outline"></ion-icon></summary>
      <div class="content">
        <ion-text class="ion-text-center ion-padding" color="light">
          <ol class="body-text__ol">
            <li><strong>Central hidroeléctrica Robert Moses Niágara Power Plant: </strong>
              Se encuentra en las cataratas del Niágara aprovechando la gran caída de agua que hay en estas, este central fue la primera en construirse en todo el mundo.</li>
          <br>
          <li><strong>Embalse de Salime: </strong>
            Este embalse se encuentra en España, exactamente en la ciudad e Asturias. Se abastece del río Navia y es cierto que el cauce del río fue necesario cambiarlo. Son 350 GWh anuales los que produce para la población.</li>
          <br>
          <li><strong>Presa de las Tres Gargantas: </strong>
            Seguro que el nombre de esta presa lo has escuchado alguna vez, pues es la central hidroeléctrica más grande del mundo que produce una gran potencia de 24000MW. Se encuentra en China y se alimenta del río Yangtsé. Se terminó de construir en el año 2012, aunque se vieron inundadas 19 ciudades y algunos pueblos con la problemática de tener que evacuar a todos sus habitantes.</li>
          </ol>
      </ion-text>
      </div>
    </details>
  </ion-text>
</ion-content>
