<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/ini-sesion"
        text=""
        color="primary"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-body">
  <ion-img class="ion-align-self-center body-text__img" src="assets/img/iniciar-sesion.png"></ion-img>
  <ion-text class="ion-text-center" color="light">
    <h1 class="content-h1">Iniciar Sesión como:</h1>
    <h1 class="content-h1__2">Divulgador(a)</h1>
  </ion-text>
  <br>
  <ion-label>
    <ion-input class="ion-text-center body-label__input" type="email" placeholder="Correo electrónico" required></ion-input>
  </ion-label>

  <br>
  <ion-label>
    <ion-input class="ion-text-center body-label__input" type="password" placeholder="Contraseña"></ion-input>
  </ion-label>

  <br>
  <ion-button (click)="enter()" expand="block" fill="solid" size="large" color="light" shape="round">
    Entrar
  </ion-button>

  
</ion-content>
