<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        text=""
        color="primary"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Calentamiento Global</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-body">
  
  <ion-text class="ion-text-center" color="light">
    <h1 class="body-title">Que es el Calentamiento Global, causas y consecuencias</h1>
  <br>
  </ion-text>
  <img class="body-text__img" src="assets/img/calentamiento.png" alt="Planta Nuclear">
  <ion-text class="ion-text-center" color="light">
    <p class="body-p ion-padding">
      El calentamiento global y el cambio climático son conceptos comúnmente confundidos, puesto que aunque el calentamiento global es tan solo uno de los aspectos recogidos por el cambio climático, este también es empleado para referirse a la evolución de la tendencia del clima a lo largo de la historia geológica. En EcologíaVerde profundizamos en este gran problema ambiental que nos afecta hoy en día en todo el mundo, y que seguirá haciéndolo parece que durante muchos años más. En este artículo te contamos todo sobre el calentamiento global, su definición, causas y consecuencias.
      El calentamiento global hace referencia al aumento de la temperatura media de los océanos y de la atmósfera terrestre, y actualmente ha sido alarmante a nivel mundial en las últimas décadas. Como decíamos, suele confundirse con el cambio climático debido a que son términos que grosso modo se podría decir que van de la mano debido a que sus causas y consecuencias coinciden en su mayoría. Pero es muy importante diferenciarlos, por lo que a continuación explicamos más detalles sobre el calentamiento global.
    </p>
    </ion-text>

  <ion-text class="ion-text-center" color="light">
    <h1 class="body-title">Causas</h1> 
  </ion-text>
  <ion-text class="ion-text-center ion-padding" color="light">
      <p class="body-text__p ion-padding">
        El calentamiento global y el cambio climático tienen coincidencia en la principal de sus causas, la emisión masiva de los diferentes gases de efecto invernadero o GEI que retienen el calor dentro de la atmósfera y sobre la superficie terrestre a través del denominado efecto invernadero.
        El efecto invernadero es un proceso natural por el cual se produce la retención del calor procedente del Sol en la atmósfera terrestre gracias a la capa de GEI que se encuentra en ella. Estos gases en cantidades normales mantienen la temperatura del planeta aproximadamente a 33ºC por encima de la que podría tener si estos no existieran, por lo que el planeta sería demasiado frío para que se desarrollase vida en él. Sin embargo, actualmente el efecto invernadero se está volviendo tan intenso a causa de nuestras emisiones que comienza a tener graves repercusiones en el medio.
        El Grupo Intergubernamental de Expertos sobre el Cambio Climático (IPCC) concluyó en el Quinto Informe de Evaluación (AR5) de 2013 que la influencia humana había sido la causa dominante de este calentamiento producido desde la mitad del siglo XX a través de la emisión de GEI, lo cual es una evidencia cada vez mayor. Entre los principales gases emitidos se encuentran el vapor de agua, el dióxido de carbono, el metano y el ozono.
        Existen diversas actividades humanas ligadas a estas emisiones de gases de efecto invernadero que se han incrementado en la atmósfera desde la Revolución Industrial. El primero de ellos es un estilo de vida insostenible debido a la gran explotación que sufre la naturaleza al considerarse una mera materia prima. Se utilizan fuentes de energía altamente contaminantes debido a los grandes requerimientos del gran crecimiento demográfico y económico acaecido.
        Es también notoria la gran emisión de gases que se produce a través de la quema de combustibles fósiles. Se estima que tres cuartas partes del aumento del CO2 debido a la acción humana se asocia a esta actividad, siendo el resto de los responsables los cambios de uso que se dan a los suelos y la deforestación. Esta última resulta más relevante de lo que parece, puesto que a través de la vegetación el desequilibrio provocado por estas emisiones de gases se podría equilibrar de manera natural.
      </p>
  </ion-text>
  
  <ion-text class="ion-text-center" color="light">
    <h1 class="body-title">Consecuencias </h1>
  </ion-text>
  <ion-text class="ion-text-center ion-padding" color="light">
    <p class="body-text__p ion-padding">
      Entre las múltiples consecuencias del calentamiento global y el cambio climático, destacan aquellas ligadas al aumento de las temperaturas. Hoy en día existen numerosas evidencias científicas de que nuestro planeta se está calentando, mostrando cambios sin precedentes en los registros climáticos.
      En un primer lugar, puesto que parece una consecuencia obvia, los cambios climáticos incluyen que aumente la frecuencia con la que se producen fenómenos meteorológicos extremos como fuertes sequías, olas de calor o lluvias torrenciales.
      A lo largo del siglo XX se ha producido un aumento de la temperatura de 0,6ºC. Para los investigadores esta es la causa de que la temperatura de los océanos se elevase, provocando su expansión y el aumento del nivel del mar de 10 a 12 centímetros.
      Aunque los impactos que se pueden asociar al calentamiento global y el cambio climático son distintos dependiendo de las regiones terrestres, el signo más claro es la fusión del hielo o deshielo de los casquetes polares, sobre todo en el Ártico, lo cual contribuye a este aumento del nivel del mar y pérdida de hábitat para muchas especies, como el oso polar. De esto se concluye que el calentamiento global tiene por tanto también serias consecuencias sobre especies de fauna y flora que no son capaces de adaptarse a las nuevas condiciones climáticas o que ven eliminados los ecosistemas donde habitan, lo cual provoca una aceleración de algunas de las extinciones de especies.
      Otros efectos del calentamiento global son la desecación de las selvas a causa de las variaciones en el régimen de precipitaciones y el aumento del área de distribución de las zonas áridas, como los desiertos subtropicales.
    </p>
  </ion-text>

</ion-content>