<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/ener-renov"
        text=""
        color="primary"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Biodiésel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-body">
  
  <ion-text class="ion-text-center" color="light">
    <h1 class="body-title">Que es el biodiésel, ventajas y desventajas</h1>
  <br>
  </ion-text>
  <img class="body-text__img" src="assets/img/biodiesel.jpg" alt="Calentamiento Global">
  <ion-text class="ion-text-center" color="light">
    <p class="body-p ion-padding">
      Fue en la década de 1890 cuando el biodiésel empieza a ser conocido popularmente, con la invención del motor diésel por el ingeniero alemán Rudolf Diesel. El motor diésel poseía una serie de ventajas frente al de gasolina, una de las cuales era su capacidad para funcionar con una gran variedad de fuentes, como el aceite vegetal. En 1900 y durante la Exposición de París, fue exhibido un motor diésel que utilizaba aceite de cacahuete.
      Este combustible se denominó después biodiésel y es producido por un proceso de transesterificación. Este proceso estimula reacciones químicas en el aceite vegetal (de cultivo especialmente desarrollado para tal fin o de desechos comerciales) y lo convierte en combustible para estos motores diésel. Otras materias primas son el aceite de palma, de girasol, la canola, la soja o, incluso, grasas de origen animal. Si bien, por sus elevados costes de producción, la mayor parte de este combustible se produce a partir de aceite vegetal residual proveniente de restaurantes, fabricación de alimentos o establecimientos de comida rápida. Hoy en día, desarrollar cultivos para su uso como combustibles es una industria con gran potencial, pero el alto coste del proceso de transesterificación es el principal inconveniente.
      Durante los últimos años, el uso del biodiésel ha crecido mucho, aumentando de unos 25 millones de galones de biocombustible a comienzos del 2000 a más de 2.800 millones en 2016. Según las proyecciones en la disponibilidad de materia prima, la industria se ha marcado como objetivo producir hasta un 10 % del mercado de transporte del diésel en 2022.
    </p>
  </ion-text>

  <ion-text class="ion-text-center" color="light">
    <h1 class="body-title">Ventajas <ion-icon class="body-title__iconplus" name="add-circle-outline"></ion-icon></h1> 
  </ion-text>
  <ion-text class="ion-text-center ion-padding" color="light">
      <ol class="body-text__ol">
        <li>Los biocombustibles como el biodiésel son una fuente renovable de energía, ya que los cultivos a partir de los que se producen pueden volver a cultivarse.</li>
        <br>
        <li>Además, el biodiésel y los biocombustibles son neutros en sus emisiones de carbono, ya que el carbono producido en sus combustiones se compensa con el carbono absorbido por los cultivos que los producen.</li>
        <br>
        <li>Otra ventaja es que el biodiésel es una fuente de energía que no depende de importaciones extranjeras y mercados globales.</li>
        <br>
        <li>El biodiésel puede ser usado en los actuales motores diésel sin llevar a cabo modificaciones mecánicas significativas.</li>
        <br>
        <li>También son combustibles más limpios y eficientes que los combustibles fósiles, puesto que se generan desechos menos peligrosos durante su fabricación.</li>
      </ol>
  </ion-text>
  
  <ion-text class="ion-text-center" color="light">
    <h1 class="body-title">Desventajas <ion-icon class="body-title__iconminus" name="remove-circle-outline"></ion-icon></h1>
  </ion-text>
  <ion-text class="ion-text-center ion-padding" color="light">
    <p class="body-p ion-padding">
      Una de las desventajas del biodiésel es que la tierra utilizada para estos cultivos reduce la cantidad de tierras disponible para el cultivo de alimentos. Este hecho representa una gran preocupación en países en vías de desarrollo, donde deben producirse alimentos para alimentar a una cada vez mayor población. Además, estos cultivos necesitan grandes cantidades de agua y fertilizantes, que podrían utilizarse en la producción de alimentos.
      Otra preocupación es el efecto de los monocultivos en ecosistemas rurales equilibrados. Las grandes extensiones de monocultivos pueden tener un efecto perjudicial sobre la flora y la fauna locales.
    </p>
  </ion-text>

</ion-content>
