<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/ener-no-renov"
        text=""
        color="primary"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Nuclear</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-body">
  
  <ion-text class="ion-text-center" color="light">
    <h1 class="content-title">Que es el Gas Natural, ventajas y desventajas</h1>
  <br>
  </ion-text>
  <img class="content-img" src="assets/img/gas-natural.jpg" alt="Planta Nuclear">
  <ion-text class="ion-text-center" color="light">
    <p class="content-p ion-padding">
      El gas natural es un tipo de gas que se produce de manera natural cuando grandes cantidades de materia vegetal quedan enterradas bajo tierra y permanecen así, a mucha presión, durante miles de años. Este proceso es similar al que da origen al petróleo. De hecho, es tan similar, que suele ser habitual encontrar yacimientos de petróleo y gas natural juntos, ya que, si se dan las condiciones para que exista un combustible, lo más habitual es que también se den para que exista el otro en el mismo lugar.
    </p>
    </ion-text>

  <ion-text class="ion-text-center" color="light">
    <h1 class="content-title">Ventajas <ion-icon class="content-title__iconplus" name="add-circle-outline"></ion-icon></h1> 
  </ion-text>
  <ion-text class="ion-text-center ion-padding" color="light">
      <ol class="content-ol">
        <li>Es fácil de conseguir, para acceder o utilizar solo debe abrirse una válvula o grifo.</li>
        <li>Es un producto económico de extraer y transportar</li>
        <li>Posee un alto poder calorífico</li>
        <li>Puede utilizarse en varios instrumentos o artefactos, sea para generar agua caliente, calor, etc </li>
        
      </ol>
  </ion-text>
  
  <ion-text class="ion-text-center" color="light">
    <h1 class="content-title">Desventajas <ion-icon class="content-title__iconminus" name="remove-circle-outline"></ion-icon></h1>
  </ion-text>
  <ion-text class="ion-text-center ion-padding" color="light">
    <ol class="content-ol">
      <li>Un mal uso de este producto puede originar explosiones.</li>
      <li>Aporta efectos negativos para el ambiente, relacionados con el calentamiento global y el cambio climático </li>
      <li>El gas natural no tiene olor, por lo que al momento de una fuga no podrá ser detectada fácilmente </li>
      <li>No es renovable</li>
      
    </ol>
  </ion-text>

</ion-content>