<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/ener-no-renov"
        text=""
        color="primary"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Carbón</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-body">
  
  <ion-text class="ion-text-center" color="light">
    <h1 class="body-title">Que es el Carbón, ventajas y desventajas</h1>
  <br>
  </ion-text>
  <img class="body-text__img" src="assets/img/carbon.jpeg" alt="Petróleo">
  <ion-text class="ion-text-center" color="light">
    <p class="body-p ion-padding">
      El carbón es un combustible fósil resultante de la descomposición de los bosques primitivos, a lo largo del tiempo. Es uno de los combustibles más abundantes en el mundo, siendo menos costoso que otras fuentes de energía, como el aceite. Los opositores de la utilización del carbón como fuente de energía, sin embargo, apuntan a los riesgos ambientales asociados a su uso.
    </p>
    </ion-text>

  <ion-text class="ion-text-center" color="light">
    <h1 class="body-title">Ventajas <ion-icon class="body-title__iconplus" name="add-circle-outline"></ion-icon></h1> 
  </ion-text>
  <ion-text class="ion-text-center ion-padding" color="light">
      <ol class="body-text__ol">
        <li>El carbón es una de las fuentes de energía más abundantes del mundo. De acuerdo con el Centro Nacional para el Análisis de Política, en Dallas, Texas, los Estados Unidos tiene el 25% de las reservas de carbón mineral conocidas en el mundo.</li>
        <li>En comparación con otras fuentes de energía, como el petróleo y el gas natural, el carbón es barato. De acuerdo con los analistas de la política de mercado y especialistas en el sector de la industria de carbón, esto significa facturas de energía más bajas para los consumidores y las empresas.</li>
        <li>El carbón no es solamente quemado directamente, sino que también puede ser transformado en forma líquida o gaseosa. Los defensores alegan que el carbón licuado o gasificado quema de forma más limpia, lo que significa menos contaminación del aire.</li>
        
      </ol>
  </ion-text>
  
  <ion-text class="ion-text-center" color="light">
    <h1 class="body-title">Desventajas <ion-icon class="body-title__iconminus" name="remove-circle-outline"></ion-icon></h1>
  </ion-text>
  <ion-text class="ion-text-center ion-padding" color="light">
    <ol class="body-text__ol">
      <li>De acuerdo con el Fondo de Defensa Ambiental de los Estados Unidos, las plantas de energía impulsadas por carbón son la principal fuente de contaminación del aire. Los ambientalistas también afirman que la quema de carbón contribuye a la lluvia ácida y libera grandes cantidades de dióxido de carbono, lo que contribuye al calentamiento global.</li>
      <li>De acuerdo con el Fondo de Defensa Ambiental de los Estados Unidos, la contaminación del aire a partir de la quema del carbón representa un peligro para la salud, especialmente para los individuos con enfermedades respiratorias.</li>
      <li>Así como de otros combustibles fósiles, el carbón mineral es una fuente de energía no renovable. Ambientalistas, conservacionistas y otros opositores del uso del carbón defienden el uso de fuentes de energía renovables y más limpias, como la energía eólica.</li>
      
    </ol>
  </ion-text>

</ion-content>